@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #116429 !important;
}
.bg-success {
  background-color: #fc0501 !important;
}
.bg-info {
  background-color: #fac51c !important;
}
.bg-warning {
  background-color: #116429 !important;
}
.bg-danger {
  background-color: #8040e9 !important;
}
.btn-primary {
  background-color: #116429;
  border-color: #116429;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #06230e;
  border-color: #06230e;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #06230e !important;
  border-color: #06230e !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-success {
  background-color: #fc0501;
  border-color: #fc0501;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #b00301;
  border-color: #b00301;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b00301 !important;
  border-color: #b00301 !important;
}
.btn-warning {
  background-color: #116429;
  border-color: #116429;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #06230e;
  border-color: #06230e;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #06230e !important;
  border-color: #06230e !important;
}
.btn-danger {
  background-color: #8040e9;
  border-color: #8040e9;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #5917c6;
  border-color: #5917c6;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #5917c6 !important;
  border-color: #5917c6 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #020d05;
  color: #020d05;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #116429;
  border-color: #116429;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #116429 !important;
  border-color: #116429 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-success-outline {
  background: none;
  border-color: #960301;
  color: #960301;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #fc0501;
  border-color: #fc0501;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #fc0501 !important;
  border-color: #fc0501 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #020d05;
  color: #020d05;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #116429;
  border-color: #116429;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #116429 !important;
  border-color: #116429 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #4f14af;
  color: #4f14af;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #8040e9;
  border-color: #8040e9;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #8040e9 !important;
  border-color: #8040e9 !important;
}
.text-primary {
  color: #116429 !important;
}
.text-success {
  color: #fc0501 !important;
}
.text-info {
  color: #fac51c !important;
}
.text-warning {
  color: #116429 !important;
}
.text-danger {
  color: #8040e9 !important;
}
.alert-success {
  background-color: #fc0501;
}
.alert-info {
  background-color: #fac51c;
}
.alert-warning {
  background-color: #116429;
}
.alert-danger {
  background-color: #8040e9;
}
.btn-social {
  border-color: #116429;
}
.btn-social:hover {
  background: #116429;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #116429;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #116429;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #116429;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #116429;
}
.lead a,
.lead a:hover {
  color: #116429;
}
.lead blockquote {
  border-color: #116429;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #24d156;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffcbca;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #24d156;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #faf7fe;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #116429;
}
#menu-lu .hide-buttons .nav-btn {
  display: none !important;
}
#menu-lu .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-lu .navbar-toggler {
  color: #ffffff;
}
#menu-lu .close-icon::before,
#menu-lu .close-icon::after {
  background-color: #ffffff;
}
#menu-lu .link,
#menu-lu .dropdown-item {
  color: #ffffff;
}
#menu-lu .link {
  font-size: 1rem;
}
#menu-lu .dropdown-item,
#menu-lu .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-lu .link:hover,
#menu-lu .dropdown-item:hover,
#menu-lu .link:focus,
#menu-lu .dropdown-item:focus {
  color: #116429;
}
#menu-lu .link[aria-expanded="true"],
#menu-lu .dropdown-menu {
  background: #0a3817;
}
#menu-lu .nav-dropdown-sm .link:focus,
#menu-lu .nav-dropdown-sm .link:hover,
#menu-lu .nav-dropdown-sm .dropdown-item:focus,
#menu-lu .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-lu .navbar,
#menu-lu .nav-dropdown-sm,
#menu-lu .nav-dropdown-sm .link[aria-expanded="true"],
#menu-lu .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-lu .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-lu .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-lu .bg-color.transparent.opened .link:hover,
#menu-lu .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-lu .link[aria-expanded="true"],
#menu-lu .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-lu .btn {
  font-size: 16px;
}
#buttons1-n5 .btn {
  font-size: 16px;
}
#msg-box5-k9 H3 {
  font-size: 36px;
}
#msg-box5-k9 .btn {
  font-size: 16px;
}
#header4-sj .mbr-section-lead {
  text-align: center;
}
#header3-h0 .mbr-section-title,
#header3-h0 .mbr-section-subtitle {
  text-align: center;
}
#header3-xt .mbr-section-title,
#header3-xt .mbr-section-subtitle {
  text-align: center;
}
#header3-xt SMALL {
  color: #000000;
}
#header3-xt B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xt SPAN {
  color: #faaf40;
  font-size: 22px;
}
#facebook-comments-block-fw B {
  color: #000000;
}
#facebook-comments-block-fw UL {
  color: #000000;
}
#footer1-2 P {
  color: #ffffff;
}
#features1-wb .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wb .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wb .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-wa .btn {
  font-size: 22px;
}
#features1-wc .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wc .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wc .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-x3 .btn {
  font-size: 22px;
}
#contacts2-kd STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-kd SPAN {
  font-size: 14px;
}
#contacts2-kd P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-kd UL {
  color: #000000;
}
#social-buttons3-c .mbr-section-title,
#social-buttons3-c .btn-social {
  color: #fff;
}
#social-buttons3-c .mbr-section-title {
  color: #ffffff;
}


#footer1-54 P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-p7 .btn {
  font-size: 16px;
}
#header3-kl .mbr-section-title,
#header3-kl .mbr-section-subtitle {
  text-align: center;
}
#header3-kl H3 {
  color: #ffffff;
}
#features7-l6 .card-subtitle {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
#features7-l6 .iconbox {
  background-color: #116429;
  border-color: #116429;
}
#features7-l6 P {
  text-align: center;
}
#features7-l6 SPAN {
  font-size: 14px;
}
#features7-l6 H4 {
  font-size: 24px;
  color: #ffffff;
}
#features7-l6 .card-subtitle B {
  color: #ffffff;
  font-size: 20px;
}
#features7-l6 .card-subtitle SPAN {
  font-size: 21px;
}
#contacts2-59 STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-59 SPAN {
  font-size: 14px;
}
#contacts2-59 P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-59 UL {
  color: #000000;
}

#footer1-9d P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pa .btn {
  font-size: 16px;
}
#header3-ue .mbr-section-title,
#header3-ue .mbr-section-subtitle {
  text-align: center;
}
#header3-xu .mbr-section-title,
#header3-xu .mbr-section-subtitle {
  text-align: center;
}
#header3-xu SMALL {
  color: #000000;
}
#header3-xu B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xu SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wd .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wd .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wd .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-wf .btn {
  font-size: 22px;
}
#features1-we .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-we .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-we .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-x4 .btn {
  font-size: 22px;
}
#contacts2-9j STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-9j SPAN {
  font-size: 14px;
}
#contacts2-9j P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-9j UL {
  color: #000000;
}
#social-buttons3-9k .mbr-section-title,
#social-buttons3-9k .btn-social {
  color: #fff;
}
#social-buttons3-9k .mbr-section-title {
  color: #ffffff;
}

#footer1-9l P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pe .btn {
  font-size: 16px;
}
#header3-uf .mbr-section-title,
#header3-uf .mbr-section-subtitle {
  text-align: center;
}
#header3-xv .mbr-section-title,
#header3-xv .mbr-section-subtitle {
  text-align: center;
}
#header3-xv SMALL {
  color: #000000;
}
#header3-xv B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xv SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wh .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wh .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wh .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y4 .btn {
  font-size: 22px;
}
#features1-wi .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wi .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wi .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y5 .btn {
  font-size: 22px;
}
#contacts2-9r STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-9r SPAN {
  font-size: 14px;
}
#contacts2-9r P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-9r UL {
  color: #000000;
}
#social-buttons3-9s .mbr-section-title,
#social-buttons3-9s .btn-social {
  color: #fff;
}
#social-buttons3-9s .mbr-section-title {
  color: #ffffff;
}

#footer1-9t P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pf .btn {
  font-size: 16px;
}
#header3-ug .mbr-section-title,
#header3-ug .mbr-section-subtitle {
  text-align: center;
}
#header3-xw .mbr-section-title,
#header3-xw .mbr-section-subtitle {
  text-align: center;
}
#header3-xw SMALL {
  color: #000000;
}
#header3-xw B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xw SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wj .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wj .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wj .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y6 .btn {
  font-size: 22px;
}
#features1-wk .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wk .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wk .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y7 .btn {
  font-size: 22px;
}
#contacts2-9z STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-9z SPAN {
  font-size: 14px;
}
#contacts2-9z P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-9z UL {
  color: #000000;
}
#social-buttons3-a0 .mbr-section-title,
#social-buttons3-a0 .btn-social {
  color: #fff;
}
#social-buttons3-a0 .mbr-section-title {
  color: #ffffff;
}

#footer1-a1 P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pg .btn {
  font-size: 16px;
}
#header3-in .mbr-section-title,
#header3-in .mbr-section-subtitle {
  text-align: center;
}
#header3-xx .mbr-section-title,
#header3-xx .mbr-section-subtitle {
  text-align: center;
}
#header3-xx SMALL {
  color: #000000;
}
#header3-xx B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xx SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wl .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wl .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wl .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y8 .btn {
  font-size: 22px;
}
#features1-wm .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wm .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wm .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-y9 .btn {
  font-size: 22px;
}
#contacts2-a7 STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-a7 SPAN {
  font-size: 14px;
}
#contacts2-a7 P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-a7 UL {
  color: #000000;
}
#social-buttons3-a8 .mbr-section-title,
#social-buttons3-a8 .btn-social {
  color: #fff;
}
#social-buttons3-a8 .mbr-section-title {
  color: #ffffff;
}

#footer1-a9 P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-ph .btn {
  font-size: 16px;
}
#header3-rb .mbr-section-title,
#header3-rb .mbr-section-subtitle {
  text-align: center;
}
#header3-xs .mbr-section-title,
#header3-xs .mbr-section-subtitle {
  text-align: center;
}
#header3-xs SMALL {
  color: #000000;
}
#header3-xs B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xs SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wn .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wn .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wn .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-ul .btn {
  font-size: 22px;
}
#features1-wo .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wo .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wo .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-ya .btn {
  font-size: 22px;
}
#contacts2-dz STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-dz SPAN {
  font-size: 14px;
}
#contacts2-dz P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-dz UL {
  color: #000000;
}
#social-buttons3-ag .mbr-section-title,
#social-buttons3-ag .btn-social {
  color: #fff;
}
#social-buttons3-ag .mbr-section-title {
  color: #ffffff;
}

#footer1-ah P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pi .btn {
  font-size: 16px;
}
#header3-ic .mbr-section-title,
#header3-ic .mbr-section-subtitle {
  text-align: center;
}
#header3-xy .mbr-section-title,
#header3-xy .mbr-section-subtitle {
  text-align: center;
}
#header3-xy SMALL {
  color: #000000;
}
#header3-xy B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xy SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wp .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wp .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wp .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yb .btn {
  font-size: 22px;
}
#features1-wq .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wq .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wq .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yc .btn {
  font-size: 22px;
}
#contacts2-an STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-an SPAN {
  font-size: 14px;
}
#contacts2-an P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-an UL {
  color: #000000;
}
#social-buttons3-ao .mbr-section-title,
#social-buttons3-ao .btn-social {
  color: #fff;
}
#social-buttons3-ao .mbr-section-title {
  color: #ffffff;
}

#footer1-dl P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pj .btn {
  font-size: 16px;
}
#header3-qd .mbr-section-title,
#header3-qd .mbr-section-subtitle {
  text-align: center;
}
#header3-y0 .mbr-section-title,
#header3-y0 .mbr-section-subtitle {
  text-align: center;
}
#header3-y0 SMALL {
  color: #000000;
}
#header3-y0 B {
  color: #ffffff;
  font-size: 22px;
}
#header3-y0 SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wt .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wt .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wt .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yf .btn {
  font-size: 22px;
}
#features1-wu .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wu .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wu .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yg .btn {
  font-size: 22px;
}
#contacts2-dr STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-dr SPAN {
  font-size: 14px;
}
#contacts2-dr P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-dr UL {
  color: #000000;
}
#social-buttons3-ds .mbr-section-title,
#social-buttons3-ds .btn-social {
  color: #fff;
}
#social-buttons3-ds .mbr-section-title {
  color: #ffffff;
}

#footer1-dd P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pk .btn {
  font-size: 16px;
}
#header3-rc .mbr-section-title,
#header3-rc .mbr-section-subtitle {
  text-align: center;
}
#header3-xz .mbr-section-title,
#header3-xz .mbr-section-subtitle {
  text-align: center;
}
#header3-xz SMALL {
  color: #000000;
}
#header3-xz B {
  color: #ffffff;
  font-size: 22px;
}
#header3-xz SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wr .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wr .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wr .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yd .btn {
  font-size: 22px;
}
#features1-ws .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-ws .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-ws .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-ye .btn {
  font-size: 22px;
}
#contacts2-dj STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-dj SPAN {
  font-size: 14px;
}
#contacts2-dj P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-dj UL {
  color: #000000;
}
#social-buttons3-dk .mbr-section-title,
#social-buttons3-dk .btn-social {
  color: #fff;
}
#social-buttons3-dk .mbr-section-title {
  color: #ffffff;
}

#footer1-dt P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#form1-kj .form-control-label {
  color: #ffffff;
}
#form1-kj .mbr-section-title {
  color: #ffffff;
}
#contacts2-kd STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-kd SPAN {
  font-size: 14px;
}
#contacts2-kd P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-kd UL {
  color: #000000;
}
#social-buttons3-e0 .mbr-section-title,
#social-buttons3-e0 .btn-social {
  color: #fff;
}
#social-buttons3-e0 .mbr-section-title {
  color: #000000;
}

#footer1-gc P {
  color: #ffffff;
}
#menu-gd .hide-buttons .nav-btn {
  display: none !important;
}
#menu-gd .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-gd .navbar-toggler {
  color: #ffffff;
}
#menu-gd .close-icon::before,
#menu-gd .close-icon::after {
  background-color: #ffffff;
}
#menu-gd .link,
#menu-gd .dropdown-item {
  color: #ffffff;
}
#menu-gd .link {
  font-size: 1rem;
}
#menu-gd .dropdown-item,
#menu-gd .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-gd .link:hover,
#menu-gd .dropdown-item:hover,
#menu-gd .link:focus,
#menu-gd .dropdown-item:focus {
  color: #116429;
}
#menu-gd .link[aria-expanded="true"],
#menu-gd .dropdown-menu {
  background: #0a3817;
}
#menu-gd .nav-dropdown-sm .link:focus,
#menu-gd .nav-dropdown-sm .link:hover,
#menu-gd .nav-dropdown-sm .dropdown-item:focus,
#menu-gd .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-gd .navbar,
#menu-gd .nav-dropdown-sm,
#menu-gd .nav-dropdown-sm .link[aria-expanded="true"],
#menu-gd .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-gd .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-gd .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-gd .bg-color.transparent.opened .link:hover,
#menu-gd .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-gd .link[aria-expanded="true"],
#menu-gd .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-gd .btn {
  font-size: 16px;
}
#buttons1-pc .btn {
  font-size: 16px;
}
#content8-h6 .mbr-section-title,
#content8-h6 p {
  text-align: right;
  color: #fff;
}
#content8-h6 P {
  text-align: center;
  color: #ffffff;
  font-size: 17px;
}
#contacts2-kd STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-kd SPAN {
  font-size: 14px;
}
#contacts2-kd P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-kd UL {
  color: #000000;
}

#footer1-ax P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-pl .btn {
  font-size: 16px;
}
#header3-rd .mbr-section-title,
#header3-rd .mbr-section-subtitle {
  text-align: center;
}
#header3-y3 .mbr-section-title,
#header3-y3 .mbr-section-subtitle {
  text-align: center;
}
#header3-y3 SMALL {
  color: #000000;
}
#header3-y3 B {
  color: #ffffff;
  font-size: 22px;
}
#header3-y3 SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wz .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wz .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wz .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yl .btn {
  font-size: 22px;
}
#features1-x0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-x0 .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-x0 .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-ym .btn {
  font-size: 22px;
}
#contacts2-b3 STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-b3 SPAN {
  font-size: 14px;
}
#contacts2-b3 P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-b3 UL {
  color: #000000;
}
#social-buttons3-b4 .mbr-section-title,
#social-buttons3-b4 .btn-social {
  color: #fff;
}
#social-buttons3-b4 .mbr-section-title {
  color: #ffffff;
}

#footer1-rr P {
  color: #ffffff;
}
#menu-x9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x9 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-x9 .navbar-toggler {
  color: #ffffff;
}
#menu-x9 .close-icon::before,
#menu-x9 .close-icon::after {
  background-color: #ffffff;
}
#menu-x9 .link,
#menu-x9 .dropdown-item {
  color: #ffffff;
}
#menu-x9 .link {
  font-size: 1rem;
}
#menu-x9 .dropdown-item,
#menu-x9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-x9 .link:hover,
#menu-x9 .dropdown-item:hover,
#menu-x9 .link:focus,
#menu-x9 .dropdown-item:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-menu {
  background: #0a3817;
}
#menu-x9 .nav-dropdown-sm .link:focus,
#menu-x9 .nav-dropdown-sm .link:hover,
#menu-x9 .nav-dropdown-sm .dropdown-item:focus,
#menu-x9 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-x9 .navbar,
#menu-x9 .nav-dropdown-sm,
#menu-x9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x9 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-x9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x9 .bg-color.transparent.opened .link:hover,
#menu-x9 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-x9 .link[aria-expanded="true"],
#menu-x9 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-x9 .btn {
  font-size: 16px;
}
#buttons1-uy .btn {
  font-size: 16px;
}
#header3-s0 .mbr-section-title,
#header3-s0 .mbr-section-subtitle {
  text-align: center;
}
#header3-s0 B {
  color: #28324e;
}
#header3-y1 .mbr-section-title,
#header3-y1 .mbr-section-subtitle {
  text-align: center;
}
#header3-y1 SMALL {
  color: #000000;
}
#header3-y1 B {
  color: #ffffff;
  font-size: 22px;
}
#header3-y1 SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wv .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wv .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wv .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yh .btn {
  font-size: 22px;
}
#features1-ww .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-ww .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-ww .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yi .btn {
  font-size: 22px;
}
#contacts2-rt STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-rt SPAN {
  font-size: 14px;
}
#contacts2-rt P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-rt UL {
  color: #000000;
}
#social-buttons3-w4 .mbr-section-title,
#social-buttons3-w4 .btn-social {
  color: #fff;
}
#social-buttons3-w4 .mbr-section-title {
  color: #ffffff;
}

#buttons1-v5 .btn {
  font-size: 16px;
}
#footer1-s1 P {
  color: #ffffff;
}
#menu-s2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s2 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-s2 .navbar-toggler {
  color: #ffffff;
}
#menu-s2 .close-icon::before,
#menu-s2 .close-icon::after {
  background-color: #ffffff;
}
#menu-s2 .link,
#menu-s2 .dropdown-item {
  color: #ffffff;
}
#menu-s2 .link {
  font-size: 1rem;
}
#menu-s2 .dropdown-item,
#menu-s2 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-s2 .link:hover,
#menu-s2 .dropdown-item:hover,
#menu-s2 .link:focus,
#menu-s2 .dropdown-item:focus {
  color: #116429;
}
#menu-s2 .link[aria-expanded="true"],
#menu-s2 .dropdown-menu {
  background: #0a3817;
}
#menu-s2 .nav-dropdown-sm .link:focus,
#menu-s2 .nav-dropdown-sm .link:hover,
#menu-s2 .nav-dropdown-sm .dropdown-item:focus,
#menu-s2 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-s2 .navbar,
#menu-s2 .nav-dropdown-sm,
#menu-s2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s2 .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-s2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s2 .bg-color.transparent.opened .link:hover,
#menu-s2 .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-s2 .link[aria-expanded="true"],
#menu-s2 .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-s2 .btn {
  font-size: 16px;
}
#header3-s3 .mbr-section-title,
#header3-s3 .mbr-section-subtitle {
  text-align: center;
}
#header3-s3 B {
  color: #28324e;
}
#header3-y2 .mbr-section-title,
#header3-y2 .mbr-section-subtitle {
  text-align: center;
}
#header3-y2 SMALL {
  color: #000000;
}
#header3-y2 B {
  color: #ffffff;
  font-size: 22px;
}
#header3-y2 SPAN {
  color: #faaf40;
  font-size: 22px;
}
#features1-wx .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wx .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wx .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yj .btn {
  font-size: 22px;
}
#features1-wy .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #8040e9;
}
#features1-wy .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #000000;
}
#features1-wy .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
}
#buttons1-yk .btn {
  font-size: 22px;
}
#contacts2-s5 STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-s5 SPAN {
  font-size: 14px;
}
#contacts2-s5 P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-s5 UL {
  color: #000000;
}
#social-buttons3-va .mbr-section-title,
#social-buttons3-va .btn-social {
  color: #fff;
}
#social-buttons3-va .mbr-section-title {
  color: #ffffff;
}

#menu-lu .hide-buttons .nav-btn {
  display: none !important;
}
#menu-lu .navbar-caption {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#menu-lu .navbar-toggler {
  color: #ffffff;
}
#menu-lu .close-icon::before,
#menu-lu .close-icon::after {
  background-color: #ffffff;
}
#menu-lu .link,
#menu-lu .dropdown-item {
  color: #ffffff;
}
#menu-lu .link {
  font-size: 1rem;
}
#menu-lu .dropdown-item,
#menu-lu .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-lu .link:hover,
#menu-lu .dropdown-item:hover,
#menu-lu .link:focus,
#menu-lu .dropdown-item:focus {
  color: #116429;
}
#menu-lu .link[aria-expanded="true"],
#menu-lu .dropdown-menu {
  background: #0a3817;
}
#menu-lu .nav-dropdown-sm .link:focus,
#menu-lu .nav-dropdown-sm .link:hover,
#menu-lu .nav-dropdown-sm .dropdown-item:focus,
#menu-lu .nav-dropdown-sm .dropdown-item:hover {
  background: #0f5724!important;
}
#menu-lu .navbar,
#menu-lu .nav-dropdown-sm,
#menu-lu .nav-dropdown-sm .link[aria-expanded="true"],
#menu-lu .nav-dropdown-sm .dropdown-menu {
  background: #116429;
}
#menu-lu .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-lu .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-lu .bg-color.transparent.opened .link:hover,
#menu-lu .bg-color.transparent.opened .link:focus {
  color: #116429;
}
#menu-lu .link[aria-expanded="true"],
#menu-lu .dropdown-item[aria-expanded="true"] {
  color: #116429!important;
}
#menu-lu .btn {
  font-size: 16px;
}
#form1-x1 .form-control-label {
  color: #faaf40;
}
#form1-x1 SMALL {
  color: #ffffff;
  font-size: 22px;
}
#form1-x1 .mbr-section-title {
  color: #ffffff;
}
#form1-x1 B {
  color: #faaf40;
}
#form1-sn .form-control-label {
  color: #faaf40;
}
#form1-sn SMALL {
  color: #000000;
}
#form1-sn .mbr-section-title {
  color: #ffffff;
}
#pricing-table2-to .mbr-plan-header,
#pricing-table2-to .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-to ul,
#pricing-table2-to .mbr-plan-title,
#pricing-table2-to .mbr-price-value,
#pricing-table2-to .mbr-price-figure,
#pricing-table2-to .mbr-price-term {
  color: #28262b;
}
#pricing-table2-to .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-to .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-to .mbr-plan-price-desc B {
  color: #faaf40;
  font-size: 20px;
}
#pricing-table2-to .mbr-plan-title {
  font-size: 30px;
  color: #faaf40;
}
#pricing-table2-to .mbr-plan-price-desc {
  font-size: 20px;
  color: #000000;
}
#pricing-table2-to .mbr-plan-label {
  font-size: 24px;
  color: #faaf40;
}
#pricing-table2-to UL {
  color: #000000;
}
#pricing-table2-to .mbr-section__container .mbr-section-title {
  color: #ffffff;
}
#pricing-table2-to .mbr-price-figure {
  color: #faaf40;
}
#pricing-table2-to .mbr-price-value {
  color: #faaf40;
}
#pricing-table2-to .mbr-section__container .mbr-section-subtitle {
  color: #ffffff;
  font-size: 22px;
}
#pricing-table2-to .mbr-section__container .mbr-section-subtitle SPAN {
  color: #faaf40;
}
#contacts2-kd STRONG {
  color: #fac51c;
  text-align: left;
  font-size: 12px;
}
#contacts2-kd SPAN {
  font-size: 14px;
}
#contacts2-kd P {
  font-size: 18px;
  color: #ffffff;
}
#contacts2-kd UL {
  color: #000000;
}
